In [3]:
import requests

# URL of the CSV file you want to download
url = "https://data-api.ecb.europa.eu/service/data/EXR?format=csvdata"

# Send an HTTP GET request to the URL
response = requests.get(url)

# Check if the request was successful (status code 200)
if response.status_code == 200:
    # Specify the local file path where you want to save the CSV file
    local_file_path = 'data.csv'

    # Open the local file in binary write mode and write the content of the response
    with open(local_file_path, 'wb') as f:
        f.write(response.content)
    print(f'CSV file downloaded successfully to: {local_file_path}')
else:
    print('Failed to download CSV file')

CSV file downloaded successfully to: data.csv

In [4]:
import pandas as pd
from openpyxl import load_workbook
df = pd.read_csv('data.csv')

C:\Users\behza\AppData\Local\Temp\ipykernel_39408\3724256756.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd
C:\Users\behza\AppData\Local\Temp\ipykernel_39408\3724256756.py:3: DtypeWarning: Columns (6,11,21,22) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('data.csv')

In [5]:
df_daily=df[df["TIME_FORMAT"]=="P1D"]
df_daily=df_daily[["CURRENCY","TIME_FORMAT","TIME_PERIOD","OBS_VALUE"]]

In [6]:
df_daily["date"]=pd.to_datetime(df_daily["TIME_PERIOD"])

In [7]:
df_daily.head()

      CURRENCY TIME_FORMAT TIME_PERIOD  OBS_VALUE       date
36662      ARS         P1D  2000-01-13    1.02745 2000-01-13
36663      ARS         P1D  2000-01-14    1.02232 2000-01-14
36664      ARS         P1D  2000-01-17    1.00870 2000-01-17
36665      ARS         P1D  2000-01-18    1.00915 2000-01-18
36666      ARS         P1D  2000-01-19    1.01034 2000-01-19

In [9]:
month = input("Please enter the month in number: ")
year = input("Please enter the year: ")
currencies = input("Please enter the currency: ")
# for months:
df_daily_filtered=df_daily[(df_daily["date"].dt.month==int(month))&(df_daily["date"].dt.year==int(year))]
df_daily_filtered=df_daily_filtered[df_daily_filtered["CURRENCY"]==currencies]
average = df_daily_filtered["OBS_VALUE"].mean()
last_day=df_daily_filtered["OBS_VALUE"].iloc[-1]

#for year:
df_daily_filtered_year=df_daily[(df_daily["date"].dt.year==int(year))]
df_daily_filtered_year=df_daily_filtered_year[df_daily_filtered_year["CURRENCY"]==currencies]
average_year = df_daily_filtered_year["OBS_VALUE"].mean()

workbook=load_workbook('exchange rates as per 310523-v1.xlsx')
worksheet = workbook['recap']
if currencies == 'BRL': 
    worksheet['Y12']=last_day
    worksheet['Z12']=average
    worksheet['AE12']=average_year
if currencies == 'CAD': 
    worksheet['Y13']=last_day
    worksheet['Z13']=average
    worksheet['AE13']=average_year
if currencies == 'CNY': 
    worksheet['Y14']=last_day
    worksheet['Z14']=average
    worksheet['AE14']=average_year
if currencies == 'GBP': 
    worksheet['Y15']=last_day
    worksheet['Z15']=average
    worksheet['AE15']=average_year
if currencies == 'HKD': 
    worksheet['Y16']=last_day
    worksheet['Z16']=average
    worksheet['AE16']=average_year
if currencies == 'MYR': 
    worksheet['Y17']=last_day
    worksheet['Z17']=average
    worksheet['AE17']=average_year
if currencies == 'RUB': 
    worksheet['Y18']=last_day
    worksheet['Z18']=average
    worksheet['AE18']=average_year    
if currencies == 'SGD': 
    worksheet['Y19']=last_day
    worksheet['Z19']=average
    worksheet['AE19']=average_year
if currencies == 'TWD': 
    worksheet['Y20']=last_day
    worksheet['Z20']=average
    worksheet['AE20']=average_year
if currencies == 'USD': 
    worksheet['Y21']=last_day
    worksheet['Z21']=average
    worksheet['AE21']=average_year
workbook.save('Hitec exchange rates as per 310523-v1.xlsx')
print('The last day value: ',last_day)
print('The average value: ',average)
print ('the average avlue of year: ', average_year)

The last day value:  1.0837
The average value:  1.0905136363636365
the average avlue of year:  1.0876034482758623